@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-operator {
    @apply flex items-center px-4 py-2 bg-teal-600 text-white rounded-lg font-semibold text-sm transition-all hover:bg-teal-700 shadow-sm;
  }
  .btn-admin {
    @apply flex items-center px-4 py-2 bg-red-600 text-white rounded-lg font-semibold text-sm transition-all hover:bg-red-700 shadow-sm;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #CBD5E1;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94A3B8;
  }
}

body {
  @apply bg-[#F8FAFC];
}
